@import 'variables';
@import 'bootstrap';
@import 'bootswatch';

$primary: #34495e !default;

#rad-montage-main-header {
  font-family: "Adobe Gothic Std", "adobe-gothic-std", sans-serif;
  margin-top: 0;
  a {
    color: black;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
}

.montageTitle {
  margin-top: 0;
}

.montage-manual-link {
  margin-left: 20px;
}

.logo {
  display: block;
  width: 42px;
  margin-left: 10px;
}

.top-header {
  padding-top: 5px;
  background-image: url('/img/pattern_153.gif');
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.montageStart, .montageEnd {
  width: 80px !important;
}

body {
  background-image: url('/img/background.png');
}

.container {
  box-shadow: 0 1px 2px -1px black;
  padding-bottom: 20px;
  background-color: #fefefe;
}

#montage-manual-link {
  margin-left: 20px;
}

.montage-row {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
  padding-top: 10px;
  &:last-child {
    border-bottom: none;
  }
}

.montage-form-group .form-group label {
  color: #949494;
  margin-left: 8px;
  margin-right: 2px;
  transition: color 200ms;
}

.montage-form-group .form-group.has-success label {
  color: black;
}

#montage-link {
  height: 45px;
  #montage-link-placeholder {
    font-size: 10pt;
    color: #a7a7a7;
    font-style: italic;
  }
}

#social-buttons-area {
  overflow: hidden;
}
