$primary: #545454 !default;

body {
  background-image: url('../img/background.png');
  border-top: 2px solid #00B6D9;
}

#montage-links-container {
  margin-bottom: 100px;
}

.logo {
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 40px;
}

.left-nav {
  border-right: 1px solid black;
  box-shadow: -3px 0 13px -9px black inset;
  padding: 10px;
}

.thumb {
  background-size: cover;
}

.row-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $primary;
  .montage-add-here {
    display: block;
    position: absolute;
    left: 50%;
    top: -13px;
    font-size: 14pt;
    width: 27px;
    text-align: center;
    background: #ffffff url("../img/background.png");
  }
}

.row-box {
  min-width: 320px;
  min-height: 180px;
  border-right: 1px solid $primary;
  &:last-child {
    border-right: none;
  }
}

.info-box-space {
  position: relative;
  flex: 1 0;
  padding: 20px;

}

.montage-form-group #montageName {
  width: 500px;
  font-size: 18pt;
}

.dot-spacer {
  padding: 10px;
}

#montage-link {
  color: $primary;
  margin-top: 5px;
  span {
    font-size: 10pt;
    color: #a7a7a7;
    font-style: italic;
  }
}

.montage-form-group {
  h2 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
    color: $primary;
  }
  .montageUrl {
    width: 500px;
    font-size: 18pt;
  }
  .montageStart, .montageEnd {
    width: 80px;
  }
  .montage-video-config-group {
    margin-top: 5px;
    .btn-group {
      margin-left: 40px;
    }
  }
}

.skip-border {
  border: none;
}

.montageTitle {
  a {
    color: $primary;
  }
  span {
    color: $primary;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.montage-form-group .form-inline label {
  color: #949494;
  margin-left: 8px;
  margin-right: 2px;
  transition: color 200ms;
}

.montage-form-group .form-inline.has-success label {
  color: black;
}

.new-montage-button {
  margin-top: 20px;
}

#previous-montages {
  margin-top: 10px;
  ul {
    list-style: none;
  }
}