html, body, iframe, #container, #overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body.video-done {
    overflow: auto;
}

html.video-done {
    overflow: auto;
}

#container {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 80%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url('/img/forward_cursor.png') 0 0, e-resize;
    z-index: 100;
}

#player, #player2 {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}


#overlay.ios {
    height: 60px;
    background-color: #f1e33c;
    color: black;
    font-size: 24pt;
    vertical-align: bottom;
}

#overlay.ios span {
    position: absolute;
    bottom: 0;
    right: 30pt;
    font-weight: bold;
    font-style: italic;
    width: 20pt;
}

/* Instructions */

#instructions {
    position: fixed;
    color: white;
    font-family: sans-serif;
    font-size: 44pt;
    opacity: .9;
    text-shadow: 1px 0px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: none;
    z-index: 100;
}

#instructions #pause {
    position: fixed;
    bottom: 10px;
    left: 50%;
}

#instructions #skip {
    position: fixed;
    top: 40%;
    left: 50%;
}

#instructions #video-info {
    position: fixed;
    bottom: 10px;
    right: 90px;
}
#instructions #video-info span {
    position: relative;
    top: 14px;
}

/* End Video Page */

body.video-done {
    background-image: url("/img/dark_static_background.gif");
}

#end-splash {
    width: 925px;
    margin: 0 auto;
    padding-top: 50px;
    font-family: sans-serif;
}

#end-splash #some-info {
    border-radius: 4px;
    background-color: white;
}

#end-splash #some-info ul {
    list-style: none;
    margin-top: 80px;
}

#end-splash #some-info li {
    font-size: 14pt;
    margin-bottom: 10px;
}

#end-splash #some-info li i.fa {
    margin-right: 5px;
}

#end-splash #some-info h1 {
    text-align: center;
}

#end-splash #some-info .logo {
    width: 46px;
    margin: 30px auto;
    display: block;
}
