html, body, iframe, #container, #overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 80%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: e-resize;
}

#bgvid {
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;

    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;

    background-color: black;
    background-size: cover;
    cursor: e-resize;
}

iframe {

}

#overlay.ios {
    height: 60px;
    background-color: #f1e33c;
    color: black;
    font-size: 24pt;
    vertical-align: bottom;
}

#overlay.ios span {
    position: absolute;
    bottom: 0;
    right: 30pt;
    font-weight: bold;
    font-style: italic;
    width: 40pt;
}